* {
  font-family: $primary-font-regular;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: $primary-font-bold;
}

button {
  box-shadow: none !important;
}

svg {
  height: 100%;
  width: 100%;
}

*::selection {
  background-color: $primary-color;
  color: $white;
}

// body::-webkit-scrollbar {
//   width: 8px;
// }

// body::-webkit-scrollbar-track {
//   background: transparent;
// }

// body::-webkit-scrollbar-thumb {
//   background-color: rgb(63, 1, 1);
//   border-radius: 15px;
// }